.posts_wrap {
  margin-bottom: 50px;
}

@media (max-width: 860px) {
  .posts_wrap {
    margin-bottom: 0px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 250px;
}