.app {
  align-self: stretch;
  background-color: var(--background-color_global);
}

.left_center_right_parts_wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
}

@media (max-width: 860px) {
  .left_center_right_parts_wrap {
    padding: 0 0px;
  }
}

.left_center_right_parts {
  display: flex;
  width: 100%;
  max-width: 1080px;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1000px) {
  .left_center_right_parts {
    gap: 5px;
  }
}

.left_side_wrap {
  width: 21%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 980px) {
  .left_side_wrap {
    width: 18%;
  }
}

@media (max-width: 860px) {
  .left_side_wrap {
    display: none;
  }
}

.center {
  width: 58%;
  position: relative;
  overflow-x: clip;
}

@media (max-width: 980px) {
  .center {
    width: 54%;
  }
}

@media (max-width: 860px) {
  .center {
    width: 100%;
    border: none;
  }
}

@media screen and (max-width: 550px) {
  .center {
    border: none;
  }
}

.right_side_wrap {
  width: 21%;
}

@media (max-width: 980px) {
  .right_side_wrap {
    width: 18%;
  }
}

@media (max-width: 860px) {
  .right_side_wrap {
    display: none;
  }
}

@media (max-width: 650px) {
  .left_side_wrap {
    display: none;
  }

  .right_side_wrap {
    display: none;
  }
}

.header_mobile_wrap {
  display: none;
  position: sticky;
  top: 0px;
  z-index: 5;
}

@media (max-width: 860px) {
  .header_mobile_wrap {
    display: block;
  }
}