#root {
  display: grid;
  height: 100%;
  background-color: var(--background-color_global);
  position: relative;
}

body {
  height: 100%;
  background-color: var(--background-color_global);
}

html {
  scrollbar-color: var(--scrollbar_color_global);
  height: 100%;
  scrollbar-width: thin;
  background-color: var(--background-color_global);
}

p,
h1,
h2,
h3,
ul li,
textarea {
  color: var(--color_global);
}

body img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  object-fit: cover;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
button,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  outline: none !important;
}

@font-face {
  font-family: "OpenSans";
  src:
    local("OpenSans"),
    url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}

.grecaptcha-badge {
  visibility: hidden;
}

/* Variables*/
:root {
  --transition_opening_global: 150ms;
  --transition_all_global: all 170ms ease;
  --transition_background-color_hover_global: background-color 200ms ease;
  --transition_background-color_active_global: background-color 250ms ease;
  --transition_text-decoration_global: text-decoration 200ms ease;
  --scrollbar_color_global: #65656544 #f1f1f1ec;
}

/* Dark theme*/
.dark-mode {
  --scrollbar_color_global: #262626 #191919;
}

[data-dark-theme="true"] {
  --fill_global: #a1a1a1;
  --stroke_global: #a1a1a1;
  --scrollbar_color_global: #262626 #191919;
  --background-color_global: black;
  --filling_background-color_global: #121212;
  --fill_no_avatar_global: #666666;
  --color_global: #a1a1a1;
  --border_disappears_in_dark_theme_global: transparent;
  --border_global: 1.1px solid rgb(29, 29, 29);
  --hashtag_color_global: rgb(24, 97, 145);
  --hashtag_color_hover_global: rgb(32, 109, 161);
  --item_hover_global: rgb(23 23 23);
}

[data-dark-theme="false"] {
  --fill_global: #000000;
  --stroke_global: #000000;
  --scrollbar_color_global: #65656544 #f1f1f1ec;
  --filling_background-color_global: #ffffff;
  --background-color_global: white;
  --fill_no_avatar_global: #000000;
  --color_global: #000000;
  --border_disappears_in_dark_theme_global: 1.1px solid rgba(229, 229, 229, 0.703);
  --border_global: 1.1px solid rgba(229, 229, 229, 0.703);
  --hashtag_color_global: rgb(15, 130, 208);
  --hashtag_color_hover_global: rgb(11, 98, 156);
  --item_hover_global: rgba(233, 236, 239, 0.563);
}

/* /Dark theme*/
/* /Variables*/